.colaborador {
    width: 280px;
    background-color: rgb(237, 235, 235);
}

.colaborador .cabecalho {
    background-color: #e6e6e6;
    border-radius: 10px 10px 0px 0px;
}

.colaborador .cabecalho img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;/*para a imagem invadir a div inferior*/
}

.colaborador .rodape {
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.colaborador .rodape h4 {
    color: #6278f7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.colaborador .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0px 16px;
}