.time{
    text-align: center;
    padding: 32px;
    
}

.time h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;/*para a borda inferior ficar da largura do texto*/
    padding-bottom: 8px;
    
}

.time .colaboradores {
 display: flex;   
 justify-content: space-around;
 margin-top: 32px;
 flex-wrap: wrap;/*quando não tiver mais espaço quebra a linha*/
}