.listaSuspensa label{
    display: block;/*para quebrar o componente no caso o label vai ficar em baixo do input*/
    margin-bottom: 8px;
    font-size:  24px;

}

.listaSuspensa select{
    background-color: #ffffff;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;/*terá 100% levando en consideração margin e bordas, evitando assim que o site tenha setinhas para direita e esquerda*/
}